* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.pvisible {
  margin: 20px 450px;
  border: 4px solid rgb(131, 192, 40);
  width: 30%;
  padding: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  font-weight: bold;
  border-radius: 5px;
  text-align: center;
  color: rgb(16, 94, 4);
}
.pinvisible {
  margin: 20px 450px;
  border: 4px solid rgb(131, 192, 40);
  width: 30%;
  padding: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  font-weight: bold;
  border-radius: 5px;
  text-align: center;
  color: transparent;
}

.button {
  margin: 20px 450px;
  background-color: rgb(55, 86, 9);
  color: white;
  width: 30%;
  padding: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  font-weight: bold;
  border-radius: 5px;
  text-align: center;
  border: none;
}

.block1 {
  margin: 20px 400px;
  color: white;
  width: 40%;
  padding: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 25px;
  font-weight: bold;
  border-radius: 5px;
  text-align: center;
  border: none;
}

.h2 {
  margin: 0px auto;
  max-width: 900px;
  font-size: 25px;
  line-height: 50px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  justify-content: center;
}

.wrap {
  margin: 0px auto;
  max-width: 1200px;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.block {
  margin: 0px auto;
  margin-top: 0px;
  justify-content: center;
}

.image {
  width: 20%;
  margin: 20px 0px;
  float: left;
  margin: 10px 20px 10px 0;
}
